* {
  background-color: rgba(255, 255, 246, 0.842);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Title {
  margin: 1.5% 0 1.2% 5%;
  font-family: 'Courier New', Courier, monospace;
}

.register {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}

.register h2 {
  width: 10em;
}

.register label {
  width: 14.9em;
}

.register input {
  width: 15.6em;
  height: 1.76em;
  font-size: 15px;
  padding-left: 5px;
  margin-bottom: 0.75em;
  border: 1px solid rgba(128, 128, 128, 0.521);
  border-radius: 0.3em;
  font-family: 'Courier New', Courier, monospace;
}

input:focus {
  background-color: rgba(241, 241, 241, 0.671);
  outline: none;
}

button {
  width: 9em;
  height: 3em;
  border-radius: 0.4em;
  border: transparent;
  margin-top: 1%;
  background-color: rgba(241, 241, 241, 0.671);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;

  transition: ease 0.9s;
}

button:hover {
  background-color: rgba(223, 223, 223, 0.89);
}

.readBtn {
  margin-bottom: 2%;
}

.readBooks {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10%;
  font-family: 'Courier New', Courier, monospace;
}

.readBook {
  width: 40em;
  height: 5em;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
  background-color: rgba(253, 253, 253, 0.829);
}

.readBook h3 {
  margin: 20px;
  font-size: 1em;
  background-color: rgba(253, 253, 253, 0.829);
}